* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #999999;
  display: flex;
  justify-content: center;
  /* padding: 24px; */
  overflow: hidden;
}

/* len aby bol canvas vycentrovaný na stránke */
#sketch-wrapper {
  display: inline-block;
}


#saveButton {
  -webkit-appearance: none;
  appearance: none;

  display: block;                 /* kritické pre iOS */
  background-color: #ffffff;      /* použi background-color */
  border: 0;
  border-radius: none;             /* teraz bude fungovať */
  padding: 0;
  margin: 0;

  font-size: 18px;
  color: #000000;

  position: fixed;
  bottom: 8vh;                    /* lepšie než top: 90% */
  left: 50%;
  transform: translateX(-50%);

  width: 20vw;                    /* % šírky viewportu */
  width: 300px; 
  height: 50px;                   /* iOS safe tap size */

  z-index: 9999;
}